<form action="/payment/results">
  <label for="user_apr"> APR </label>
  <input id="user_apr" name="user_apr" type="text" placeholder="E.g. 5.42">
  <br>

  <label for="user_years"> Number of years </label>
  <input id="user_years" name="user_years" type="text" placeholder="How many years to repay?">
  <br>

  <label for="user_principal"> Principal </label>
  <input id="user_principal" name="user_principal" type="text" placeholder="How much principal?">
  <br>

  <button> Calculate monthly payment </button>
</form>
