<form action="/random/results">
  <label for="user_min"> Minimum </label>
  <input id="user_min" name="user_min" type="text" placeholder="E.g. 1.5">
  <br>

  <label for="user_max"> Maximum </label>
  <input id="user_max" name="user_max" type="text" placeholder="E.g. 4.5">
  <br>

  <button> Pick random number </button>
</form>
