<form action="/square/results">
  <label for="number"> Enter a number </label>
  <br>
  <input id="number" name="number" placeholder="Number to square">
  <br>
  <button> Calculate square </button>
</form>
